In [1]:
import json
import csv
import pandas as pd
import numpy as np
import re
import os
import tqdm
import pickle

In [2]:
# テキストの取得
#企業リストを取得
#企業リストを取得
company_list = pd.read_csv("../data/new2/df_achieve/company_list.csv",index_col=0)
company_list=company_list.drop(14350)
company_list=company_list.drop(52080)
company_list=company_list.drop(95080)
with open('../data/text_data_ver2/non_company_list.pkl', 'rb') as f:
    non_list = pickle.load(f)
for com in non_list:
    company_list=company_list.drop(com)

In [16]:
company=17110
kabuka_path = '../data/kabuka/{}.csv'.format(int(company))
kabuka_df =  pd.read_csv(kabuka_path,index_col=0)

In [17]:
df_path= '../data/new2/df_achieve/this/{}.csv'.format(company)
df=pd.read_csv(df_path,index_col=0)

In [30]:
ind = [ k[:7] for k in kabuka_df.index]
kabuka_df.index=ind

In [66]:
non_list=[]
for company in tqdm.tqdm(company_list.index):
    kabuka_path = '../data/kabuka/{}.csv'.format(int(company))
    kabuka_df =  pd.read_csv(kabuka_path,index_col=0)

    df_path= '../data/new2/df_achieve/this/{}.csv'.format(company)
    df=pd.read_csv(df_path,index_col=0)   
    
    #株価のインデックスを変更
    ind = [ k[:7] for k in kabuka_df.index]
    kabuka_df.index=ind
    try:
        return_list=[]
        for date in df.index:
            ret = (float(kabuka_df.loc[date[:7]]["CLOSE"]) - kabuka_df["CLOSE"].shift(1)[date[:7]])/float(kabuka_df.loc[date[:7]]["CLOSE"])
            return_list.append(ret)

        df["return"]=return_list
       # df.to_csv(df_path)
        
    except:
        non_list.append(company)

100%|██████████████████████████████████████| 2355/2355 [00:09<00:00, 255.63it/s]

In [67]:
non_list

[34220, 34400, 38020, 39430, 42470, 65640, 66530, 74170, 78750, 79310, 81040]

In [65]:
df.to_csv('df.csv')

In [62]:
company=38020
kabuka_path = '../data/kabuka/{}.csv'.format(int(company))
kabuka_df =  pd.read_csv(kabuka_path,index_col=0)
kabuka_df

             HIGH  CLOSE    LOW   OPEN   VOLUME    code
Date
2020-04-30  425.0  411.5  401.5  424.5    75600  3802.T
2020-05-31  799.0  714.0  376.5  419.0  2826000  3802.T
2020-06-30  715.0  567.0  485.5  699.0  3223400  3802.T
2020-07-31  730.0  563.0  550.0  582.0  1103800  3802.T
2020-08-31  636.5  548.0  527.5  550.5   464200  3802.T
2020-09-30  590.0  563.0  499.5  540.0   506600  3802.T
2020-10-31  655.0  531.0  520.0  579.5   477400  3802.T
2020-11-30  580.0  458.0  432.5  524.5   352400  3802.T
2020-12-31  474.0  472.0  426.5  458.0   266600  3802.T
2021-01-31  569.5  490.0  446.5  470.5   336600  3802.T
2021-02-28  609.5  537.5  477.5  489.0   421600  3802.T
2021-03-31  599.0  599.0  488.0  541.5   248200  3802.T
2021-04-30  602.0  559.0  505.0  602.0    91700  3802.T
2021-05-31  569.0  545.0  508.0  554.0    93400  3802.T
2021-06-30  627.0  581.0  520.0  540.0   231500  3802.T
2021-07-31  588.0  558.0  542.0  581.0   121200  3802.T
2021-08-31  599.0  534.0  500.0  568.0   202200  3802.T
2021-09-30  551.0  521.0  516.0  536.0    98300  3802.T
2021-10-31  521.0  499.0  492.0  521.0    56800  3802.T
2021-11-30  510.0  452.0  425.0  502.0   121400  3802.T
2021-12-31  477.0  450.0  430.0  460.0    92200  3802.T
2022-01-31  466.0  438.0  433.0  450.0    55800  3802.T
2022-02-28  520.0  446.0  437.0  440.0   178000  3802.T
2022-03-31  480.0  467.0  434.0  459.0    40300  3802.T
2022-04-30  480.0  460.0  440.0  464.0    66100  3802.T
2022-05-31  472.0  427.0  401.0  459.0   104400  3802.T
2022-06-30  452.0  448.0  420.0  428.0    48100  3802.T